/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol, ul {
    margin-top: 10px;
}

div#container {
    width: 800px;
    margin: 0 auto;
    font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
}
h1, h2, h3, h4 {
    background-color:#FFF;
    letter-spacing:-1px;
    padding-bottom:3px;
    font-weight:400;
    margin:10px 0 3px 0;
    font-family:Helvetica, Georgia;
}
h1 {
    font-size:26px;
}
h2 {
    font-size:22px;
}
h3 {
    font-size:18px;
}
h4 {
    font-size:16px;
}
header {
    text-align: center;
    margin-top:20px;
    margin-bottom:30px;
}
footer {
    margin-top:20px;
    margin-bottom:20px;
    font-size:12px;
}
p {
    margin-top:10px;
    font-size: 15px;
}
p.meta {
    text-align: center;
}
pre {
    padding:10px;
    margin: 5px 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: monospace;
    font-size: 15px;
}
#main a {
    text-decoration: underline;
}
.date {
    font-size: 14px;
    color: #aaaaaa;
}