<!doctype html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="title" content="{{ page.title }}" /> 
    <meta name="robots" content="index, follow" /> 
    <meta name="description" content="The blog of Chris Sedlmayr about symfony, php, open source technology and real world development" /> 
    <meta name="keywords" content="symfony, php, framework, blog, web, open, source, development" /> 
    <meta name="language" content="en" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-936479-14']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!-- Infinity Tracking Code v1.16
        Copyright Infinity Tracking 2011
        www.Infinity-Tracking.com -->
    <script type="text/javascript">
      var _ictt = _ictt || [];
      _ictt.push(['_setIgrp', '77']);
      _ictt.push(['_track']);
      (function() {
          var ict = document.createElement('script'); ict.type = 'text/javascript'; ict.async = true;
          ict.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'assets.infinity-tracking.net/nas/js/nas.beta.min.js';
          var scr = document.getElementsByTagName('script')[0]; scr.parentNode.insertBefore(ict, scr);
        })();
    </script>
    <!-- Infinity Tracking Code End -->
</head>
<body>
  <div id="container">
    <header>
        <h1>{{ page.title }}</h1>
        {% if page.ispost %}
        <h2><a href="/">Chris Sedlmayr</a></h2>
        {% endif %}
        {% if page.date %}
        <p class="meta date">{{ page.date | date_to_string }}</p>
        {% endif %}
    </header>
    <div>
        {{ content }}
    </div>
    <footer>
        &copy; 2010 - 2011 <a href="/" alt="Chris Sedlmayr" title="Chris Sedlmayr">Chris Sedlmayr</a> | <a href="/feed">Atom</a>
    </footer>
  </div>
</body>
</html>